@import 'variables';
@import 'library';
@import 'arrow';
@import 'libraryCourse';
@import 'schedule';
@import 'scheduleCourse';
@import'progressTracker';
@import'addRemoveAction';
@import'gradient';

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.home {
    display: grid;
    grid-template-columns: [library-s] 1fr 1fr [schedule-s] 50px [library-e] 1fr [schedule-e];
    grid-template-rows: 1fr;

    height: 100vh;
    width: 100vw;
}




